@page "/"
@inject DadosCarteiras dados
<p>Data do Sistema:</p>
<br>
<p>@dados.DataDoSistema</p>

<br><br>
<p>Atualizar Data</p>

<input type="datetime" @bind=dados.DataDoSistema></input>

<br>
<button @onclick=cobrarTarifa >Cobrar Tarifas (Todos as Contas) </button>
@if (cobrancasRealizadas == true)
{
    <br><br>
    <p>Cobranças realizadas</p>
}
else
{
 <br><br>
 <p>A tarifa já cobrada esse mês.</p>
}


@code {
    bool? cobrancasRealizadas = false;

    public void cobrarTarifa()
    {
        if (dados.ListaDados is not null)
        {
            foreach (var item in dados.ListaDados){
                if (item.Tarifa.Month < 0)
                {
                    item.cobrarTarifa(dados.DataDoSistema);
                    cobrancasRealizadas = true;
                    continue;
                    
                } 
                if (item.Tarifa.Month < dados.DataDoSistema.Month)
                {
                    item.cobrarTarifa(dados.DataDoSistema);
                    cobrancasRealizadas = true;
                    continue;
                    
                }
                else
                {
                    cobrancasRealizadas = false;
                }
            }
        }
        
    }

}